@import "tailwindcss";

@theme {
  --color-primary-orange: #C26500;
  --color-primary-black: #000000;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary-black);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
